
.buddyInfor{
    padding: 0 5rem;
}
.infor{
    width: 100%;
}
.space{
    padding: 0 3.5rem;
}
.number{
    
    /* left:398px;
    top:185px; */
    /* position: absolute; */
    color:#FFC368;
    font-size: 3rem;
    
    
}

.twoButtons{
    display: flex;
}
.imageAward{
    align-content: center;
    padding-right: 1rem;
}
.imageA{
    display: flex;
    /* #FFC368 */
    /* justify-content: center; */
}
.areaList{
    /* margin: auto; */
    box-sizing: border-box;
    width: 80%;
    display: flex;
    
    flex-wrap: wrap;
    margin: 0;
}
.award{
    margin-bottom: 2rem;
}
.area{
    margin-bottom: 2rem;
}
.twoButtons{
    padding-left: 10rem;
    margin-bottom: 2rem;
}

.donate{
    color:#FFC368;
    font-size: medium;
}